:root {
  --main-color: #212121;
  --text-color: #757575;
  --additional-color: #ffffff;
  --hoover-color: #2196f3;
  --hoover-color-main-button: #188ce8;
  --main-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --additional-background-color: #f5f4fa;
}

body {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: var(--main-color);
  background-color: var(--main-background-color);
}

/* Утилиты */

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.conteiner {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 3px solid tomato;
}
/* Хедер */

/* Лого */

.header .logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--main-color);
}

.header .span {
  color: var(--hoover-color);
}

/* Кнопки навигации */

.nav .menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--main-color);
}

.nav .menu:hover,
.nav .menu:focus {
  color: var(--hoover-color);
}

.nav .menu.current {
  color: var(--hoover-color);
}

/* Контакты */

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--text-color);
}

.contact:hover,
.contact:focus {
  color: var(--hoover-color);
}

/* Основная часть страници "Студия" */

/* Блок герой */

.hero {
  background-color: var(--footer-background-color);
}

.hero .tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--additional-color);
}

.hero .button {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--additional-color);
  background-color: var(--hoover-color);

  cursor: pointer;
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--hoover-color-main-button);
}

/* Блок особенности */

.features .tittle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* Блок Чем мы занимаемся */

.jobs .tittle {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Блок Наша команда */

.team {
  background-color: var(--additional-background-color);
}

.team .tittle {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* Основная часть страници "Портфолио" */

/* Блок Портфолио */

.portfolio .button {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--main-color);
  background-color: var(--additional-background-color);

  cursor: pointer;
}

.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--additional-color);
  background-color: var(--hoover-color);
}

.portfolio .tittle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* Футер */

.footer {
  background-color: var(--footer-background-color);
}

.footer .logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--additional-color);
}

.footer .span {
  color: var(--hoover-color);
}

.footer .address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--additional-color);
}

.footer .contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.contact:hover,
.contact:focus {
  color: var(--hoover-color);
}
